* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  width: 100vw;
  height: 100vh;
  background-image: url('/bg.png');
  background-size: 100% 100%;
  overflow-y: hidden;
}

.underline {
  text-decoration: underline;
}
